{% if newspaper.thumbnailLetter %}
	<a href="{{ path('app_newspaper_show', { 'id': newspaper.id }) }}">
		<div class="thumbnailLetter" style="background-color: {{ newspaper.ciColor }};">{{ newspaper.thumbnailLetter }}</div>
	</a>
{% else %}
	<a href="{{ path('app_newspaper_show', { 'id': newspaper.id }) }}">
		<div class="thumbnailLetter" style="background-color: yellow;">{{ newspaper.name|first }}</div>
	</a>
{% endif %}

{% block stylesheets %}
	<style>
		.thumbnailLetter {
			width: 25px;
			height: 25px;
			border-radius: 25%;
			text-align: center;
			font-size: 12px;
			font-weight: bold;
			color: white;
			line-height: 25px;
			margin-right: 10px;
			float: left;
		}
	</style>
{% endblock %}
