<table>
	<thead>
		<tr>
			<th>Time</th>
			<th>NP</th>
			<th>Article Title</th>
			<th>Journalists</th>
		</tr>
	</thead>
	<tbody>
		{% for article in articles %}
			<tr>
				<td
					title="{{ article.date|date("d.m.Y H:i") }}">
					<!-- if article is published today just who time, else just show date -->
					{% if article.date|date("d.m.Y") == "now"|date("d.m.Y") %}
						{{ article.date|date("H:i") }}
					{% else %}
						{{ article.date|date("d.m.Y") }}
					{% endif %}

				</td>
				<td>
					{% for newspaper in article.newspapers %}
						{% include 'newspaper/_tag.html.twig' with { 'newspaper': newspaper } %}
					{% endfor %}
				</td>
				<td>

					<a href="{{ path('app_article_show', {id: article.id}) }}">{{ article.title }}</a>
				</td>
				<td>
					<ul>
						{% for journalist in article.journalists %}
							<li>
								{% include 'journalist/_single.html.twig' with { 'journalist': journalist } %}
							</li>
						{% endfor %}
					</ul>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
