{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!
{% endblock %}

{% block body %}
	<!-- show article detail twig -->
	<div class="example-wrapper">
		<div>
			<div>
				<h2>{{ article.title }}</h2>
				<p>Published in:
				</p>
				{% for newspaper in article.newspapers %}
					{% include 'newspaper/_tag.html.twig' %}
					<a href="{{ path('app_newspaper_show', {id: newspaper.id}) }}">{{ newspaper.name }}</a>
				{% endfor %}
				<p>Written by:
				</p>
				{% for journalist in article.journalists %}
					{% include 'journalist/_single.html.twig' with {journalist: journalist} %}
					{% if loop.index < loop.length - 1 %}
						,
					{% elseif loop.index == loop.length - 1 %}
						and
					{% endif %}
				{% endfor %}
				<div class="card">
					<div class="content">
						{{ article.description | raw }}
					</div>
					<div class="footer">
						{{ article.date | date('d.m.Y H:i') }}

						<a href="{{ article.link }}">
							📰</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
